.a {
    background-color: #D46200;  
    text-align: center;
    color: white;
}

.b {
    padding: 3px;
}


.c {
    color: white;
    text-decoration: underline;
}

.d {
    padding-top: 5px;
}

.e {
    padding: 5px;
    background-color: #F49936;
}

.tkst {
    color: white;
}

.reklama {
    width: 150px;   
    height: auto;
    padding-bottom: 15px;
}

.f {
    margin-top: 10px;
}

.g {
    background-color: #F49936;
    padding: 10px;
}

.h {
    padding: 5px;
    background-color: #F9cd9d;
}

.textarea {
    width: 122px;
}


.j {
    background-color: darkblue;
    color: white;
    text-align: left;
}

.k {
    background-color: #D46200;
    color: white;
    text-align: left;
}

.l {
    padding: 5px;
    background-color: #F9cd9d;
    color: #D46200;
}

.tek {
    color: black;
    text-align: left;
}

.tk {
    color: white;
    background-color: #F9cd9d;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
}